@{
    this.ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 100%;
        object-fit: contain;
    }

    video {
        width: 100%;
        object-fit: contain;
    }

    /* HIDE RADIO */
    [type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

        /* IMAGE STYLES */
        [type=checkbox] + [id=a] {
            cursor: pointer;
            color: grey
        }

        /* CHECKED STYLES */
        [type=checkbox]:checked + [id=a] {
            color: blue;
        }
</style>

<div>
    <partial name="_CategoryOptions" />
</div>

<div align="center">
    @foreach (var post in Model.PostViewModel)
    {
        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7 mt-5" style="padding-bottom: 20px">
            <div class="card h-100">
                <div>
                    <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@post.Id"><h2 style="color:black;" class="card-title font-weight-bold">@post.Title</h2></a>
                </div>

                <div class="pb-1 mt-1">
                    <span class="stars mx-auto pb-1 text">Uploaded by: @post.Username - Uploaded on: @post.CreatedOn</span>
                </div>

                @if (@post.FilePath.EndsWith("webm"))
                {
                    <div class="card-img-top zoom">
                        <video controls>
                            <source src="@post.FilePath" type="video/webm">
                        </video>
                    </div>
                }
                else
                {
                    <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@post.Id">
                        <div class="card-img-top zoom">
                            <img src="@post.FilePath" alt="@post.Title">
                        </div>
                    </a>
                }
                <div>
                    <div style="text-align: left; width: 95%">
                        <p><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@post.Description</h6></p>
                    </div>
                    <div class="pb-1 mt-1">
                        <span class="stars mx-auto pb-1 text">points: @post.VoteCount - @(post.CommentCount == 1 ? "comment: " : "comments: ") @post.CommentCount - Category: @post.CategoryName</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {

            var group = "input:checkbox[name='" + $box.attr("name") + "']";

            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>
