

@{
    this.ViewData["Title"] = "Home Page";
}

<style>
img {
  width: 100%;
  object-fit: contain;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to NineJoke!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div align="center">
    @foreach (var post in Model)
    {
        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7" style="padding-bottom: 20px">
            <div class="card h-100">
                <div>
                    <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@post.Id"><h2 class="card-title font-weight-bold">@post.Title</h2></a>
                </div>
                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@post.Id">
                    <div class="card-img-top zoom">
                        <img src="@post.FilePath" alt="@post.Title">
                    </div>
                </a>
                <div>
                    <div style="text-align: left; width: 95%">
                        <p><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@post.Description</h6></p>
                    </div>
                    <div class="pb-1 mt-1">
                        <span class="stars mx-auto pb-1 text">points: @post.VoteCount - @(post.CommentCount == 1 ? "comment: " : "comments: ") @post.CommentCount - Category: @post.CategoryName</span>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">
                    <a asp-controller="Favorites" asp-action="Add" asp-route-id="@post.Id" class="btn btn-danger btn-md"><i class="fas fa-heart"></i></a>
                    <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@post.Id" class="btn btn-primary btn-md"><i class="fas fa-shopping-cart"></i> Добави</a>
                </div>
            </div>
        </div>
    }
</div>
