@{
    int i = 0;
}
@using NineJoke.Common

<style>
    li {
    display: inline;
}

    img {
        width: 100%;
        object-fit: contain;
    }

    video {
        width: 100%;
        object-fit: contain;
    }

    /* HIDE RADIO */
    [type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

        /* IMAGE STYLES */
        [type=checkbox] + [id=a] {
            cursor: pointer;
            color: grey
        }

        /* CHECKED STYLES */
        [type=checkbox]:checked + [id=a] {
            color: blue;
        }

        /* Dropdown Button */
    .dropbtn {
        background-color: #ddd;
        color: black;
        padding: 5px 10px;
        font-size: 16px;
        border: none;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #bbf;
    }
</style>

<div align="center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7 mt-5" style="padding-bottom: 20px">
        <div class="card h-100">
            <div>
                <h2 class="card-title font-weight-bold">@Model.Title</h2>
            </div>

            <div class="pb-1 mt-1">
                <span class="stars mx-auto pb-1 text">Uploaded by: @Model.Uploader - Uploaded on: @Model.CreatedOn</span>
            </div>

            @if (Model.FilePath.EndsWith("webm"))
            {
                <div class="card-img-top zoom">
                    <video controls>
                        <source src="@Model.FilePath" type="video/webm">
                    </video>
                </div>
            }
            else
            {
                <div class="card-img-top zoom">
                    <img src="@Model.FilePath" alt="@Model.Title">
                </div>
            }
            <div>
                <div style="text-align: left; width: 95%">
                    <p><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Description</h6></p>
                </div>
                <div class="pb-1 mt-1">
                    <ol>
                        <li id="voteP">points: @Model.VoteCount -</li>
                        <li>@(Model.CommentCount == 1 ? "comment: " : "comments: ") @Model.CommentCount -</li>
                        <li>Category: @Model.CategoryName</li>
                    </ol>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">
                    <label>
                        @if (Model.Voted == 1)
                        {
                            <input id="up" onclick="@("votePostFunc('" + Model.Id + "', 1)")" type="checkbox" class="radio" name="a" checked />
                        }
                        else
                        {
                            <input id="up" onclick="@("votePostFunc('" + Model.Id + "', 1)")" type="checkbox" class="radio" name="a" />
                        }
                        <i id="a" class="fa fa-caret-up" style="font-size:50px;"></i>
                    </label>

                    <label>
                        @if (Model.Voted == -1)
                        {
                            <input id="down" onclick="@("votePostFunc('" + Model.Id + "', -1)")" type="checkbox" class="radio" name="a" checked/>
                        }
                        else
                        {
                            <input id="down" onclick="@("votePostFunc('" + Model.Id + "', -1)")" type="checkbox" class="radio" name="a" />
                        }
                        <i id="a" class="fa fa-caret-down" style="font-size:50px;"></i>
                    </label>
                </div>
            }
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div>
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                </div>
            }
            else
            {
                <div>
                    <a asp-controller="Report" asp-action="ReportPost" asp-route-id="@Model.Id" class="btn btn-primary">Report</a>
                </div>
            }
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div align="center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7" style="padding-bottom: 20px">
            <div class="card h-100">
                <!--<input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>-->
                <textarea id="myTextarea" placeholder="Write a comment..." class="post focus" style="resize: none"></textarea>
                <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">

                    <button onclick="@("addCommentFunc('" + Model.Id + "')")" class="btn btn-primary" data-assigned-id="@Model.Id">Post</button>
                </div>
            </div>
        </div>
    </div>
}




<div id="comments" align="center">
    @if (Model.Comments.Count != 0)
    {
        <div class="dropdown">
            <button class="dropbtn">Sort</button>
            <div class="dropdown-content">
                <a asp-area="" asp-controller="Post" asp-action="PostDetails" asp-route-sortType="Popular" asp-fragment="comments" class="dropdown-item nav-link text-black-50"><i></i>Popular</a>
                <a asp-area="" asp-controller="Post" asp-action="PostDetails" asp-route-sortType="New" asp-fragment="comments" class="dropdown-item nav-link text-black-50"><i></i>New</a>
            </div>
        </div>
    }

    @foreach (var comment in Model.Comments)
    {
        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7" style="padding-bottom: 20px">
            <div class="card h-100">
                <div>
                    <ol>
                        <li>@comment.UserName -</li>
                        <li id="voteC_@i">points: @comment.VoteCount -</li>
                        <li>@comment.CreatedOn</li>
                    </ol>
                </div>


                <textarea id="myTextarea" class="post focus" style="resize: none;" readonly>@comment.Content</textarea>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="card-footer justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">
                        <label style="float: left;">
                            @if (comment.Voted == 1)
                            {
                                <input id="up_@i" onclick="@("voteCommentFunc('" + @i + "', 1)")" type="checkbox" class="radio" name=@comment.Id checked />
                            }
                            else
                            {
                                <input id="up_@i" onclick="@("voteCommentFunc('" + @i + "', 1)")" type="checkbox" class="radio" name=@comment.Id />
                            }
                            <i id="a" class="fa fa-caret-up" style="font-size:30px;"></i>
                        </label>

                        <label style="float: left;">
                            @if (comment.Voted == -1)
                            {
                                <input id="down_@i" onclick="@("voteCommentFunc('" + @i + "', -1)")" type="checkbox" class="radio" name=@comment.Id checked/>
                            }
                            else
                            {
                                <input id="down_@i" onclick="@("voteCommentFunc('" + @i + "', -1)")" type="checkbox" class="radio" name=@comment.Id />
                            }
                            <i id="a" class="fa fa-caret-down" style="font-size:30px;"></i>
                        </label>
                    </div>
                    i++;
                }
            </div>
        </div>
    }
</div>

<script>

    //$("input:checkbox").on('click', function () {
    //    var $box = $(this);
    //    if ($box.is(":checked")) {

    //        var group = "input:checkbox[name='" + $box.attr("name") + "']";

    //        $(group).prop("checked", false);
    //        $box.prop("checked", true);
    //    } else {
    //        $box.prop("checked", false);
    //    }
    //});

    function votePostFunc(elem, UoD) {
        
        var up = document.getElementById("up").checked;
        var down = document.getElementById("down").checked;
        var PostId = elem
        var voteP = document.getElementById("voteP");

        if (UoD == 1 && up == down && up == true) {
            document.getElementById("down").checked = false;
        }
        else if (UoD == -1 && up == down && up == true) {
            document.getElementById("up").checked = false;
        }

        up = document.getElementById("up").checked;
        down = document.getElementById("down").checked;

        var data = { VoteUp: up, VoteDown: down, Id: PostId};
        
        $.ajax({
            type: 'POST',
            url: '/Post/VotePost',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                console.log(data);
                console.log(result);
                voteP.innerHTML = "points: " + result + " -";
            },
            error: function (result) {
                console.log(result);
            }
        });
        //document.getElementById("up").disabled = true;
        
    }

    function voteCommentFunc(elem, UoD) {

        var up = document.getElementById("up_" + elem);
        var down = document.getElementById("down_" + elem);

        var upValue = up.checked;
        var downValue = down.checked;

        var CommentId = up.name;
        var voteC = document.getElementById("voteC_" + elem);

        if (UoD == 1 && upValue == downValue && upValue == true) {
            down.checked = false;
        }
        else if (UoD == -1 && upValue == downValue && upValue == true) {
            up.checked = false;
        }

        upValue = document.getElementById("up_" + elem).checked;
        downValue = document.getElementById("down_" + elem).checked;

        var data = { VoteUp: upValue, VoteDown: downValue, Id: CommentId };
        
        $.ajax({
            type: 'POST',
            url: '/Post/VoteComment',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                console.log(data);
                console.log(result);
                voteC.innerHTML = "points: " + result + " -";
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function addCommentFunc(elem) {
        var Comment = document.getElementById("myTextarea").value;
        var PostId = elem

        var data = { Content: Comment, Id: PostId }

        console.log('Submitting form...');
        $.ajax({
            type: 'POST',
            url: '/Post/AddComment',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                location.reload();
            },
            error: function (result) {
                console.log(result);
            }
        });
        document.getElementById("myTextarea").value = "";
    }
</script>

<script>
    
</script>
