@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div align="center" style="padding-bottom:20px;">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary btn-md">New Category</a>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-5">Name</th>
                <th scope="col" class="col-lg-5">Popularity</th>
                <th scope="col" class="col-lg-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                @if (category.Name == "Uncategorized")
                {
                    <tr class="row">
                        <td class="col-lg-5">@category.Name</td>
                        <td class="col-lg-5">@category.Popularity</td>
                        <td class="col-lg-2">
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="row">
                        <td class="col-lg-5">@category.Name</td>
                        <td class="col-lg-5">@category.Popularity</td>
                        <td class="col-lg-2">
                            <div class="button-holder">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-outline-primary">Edit</a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-primary">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>