@{
    var Id = Url.ActionContext.RouteData.Values;
}

<style>
    .vertical-menu {
        width: 200px;
    }

        .vertical-menu a {
            background-color: white;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
            }


            .vertical-menu a.active {
                background-color: #1542ef;
                color: white;
            }
</style>

<div style="float:left;">
    <div class="vertical-menu">
        @if (Model.sortType == "Popular")
        {
            <a asp-controller="Home" asp-action="Index" asp-route-sort="Popular" style="background-color: #bcbcbc;">Popular</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-sort="Popular" id="Popular">Popular</a>
        }
        @if (Model.sortType == "New")
        {
            <a asp-controller="Home" asp-action="Index" asp-route-sort="New" style="background-color: #bcbcbc;">New</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-sort="New" id="New">New</a>
        }
        
        <hr style="border-width: 3px;" />
    </div>

    <div class="vertical-menu mb-5">
        <a href="#" class="active">Categories</a>
        @foreach (var category in Model.Categories)
        {
            if (category.Id.Equals(Id["id"]))
            {
                <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id" id="@category.Name" style="background-color: #bcbcbc;">@category.Name</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id" id="@category.Name">@category.Name</a>
            }
        }
    </div>
</div>